<html>
    <head>
        <title>{% block  title %}{% endblock %}</title>
        <link rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel = "stylesheet" href= "{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        {% block content %}
            <div class = "flashed">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endblock  %}
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>